openapi: 3.2.0
info:
  title: Axiom Ingest Controller Edge API
  version: 1.0.0
  description: REST API for ingesting events into Axiom datasets and running APL/MPL queries against the Axiom edge deployment.
servers:
- url: https://api.axiom.co/v1
tags:
- name: Edge
paths:
  /edge/query:
    post:
      summary: Run APL query against edge deployment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: Query result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
      tags:
      - Edge
      operationId: postEdgeQuery
      x-operation-id-source: derived
  /edge/query/batch:
    post:
      summary: Run batch query against edge deployment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
      tags:
      - Edge
      operationId: postEdgeQueryBatch
      x-operation-id-source: derived
  /edge/metrics:
    post:
      summary: Run MPL metrics query against edge deployment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
      tags:
      - Edge
      operationId: postEdgeMetrics
      x-operation-id-source: derived
components:
  schemas:
    Resource:
      type: object
      additionalProperties: true
x-generated-from: https://axiom.co/docs/restapi/ingest
x-generated-by: claude-crawl-2026-05-08
